*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
  background:#0b0f19;
  font-family:Arial, sans-serif;
}

body{
margin:0;
padding:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:radial-gradient(circle at top,#1f2937,#020617);
font-family:Arial, sans-serif;
}

.logo{
font-size:90px;
font-weight:bold;
letter-spacing:2px;
animation:fadeIn 2s ease;
}

.we{
color:#2563EB;
}

.shipp{
color:white;
}

.x{
background:linear-gradient(45deg,#ff6a00,#ff3d00);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.logo:hover{
transform:scale(1.05);
transition:0.4s;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}
/* HERO */
.hero {
background: radial-gradient(circle at top, #1f2937, #020617);
color: white;
padding: 100px 20px;
text-align: center;
}

nav{
display:flex;
justify-content:space-between;
padding:25px 60px;
}

.hero-content{
margin:auto;
text-align:center;
max-width:800px;
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
color:#ccc;
margin-bottom:30px;
}

.btn{
background:linear-gradient(45deg,#ff3c3c,#ff6a00);
padding:12px 28px;
border-radius:30px;
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
transform:scale(1.05);
}

.big{
font-size:18px;
padding:15px 35px;
}

/* SERVICES */
.services,.pricing{
padding:90px 20px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
margin-top:30px;
}

.card{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
padding:30px;
width:240px;
border-radius:20px;
transition:0.3s;
border:1px solid rgba(255,255,255,0.15);
}

.card:hover{
transform:translateY(-10px);
}

/* PROCESS */
.process{
padding:80px 20px;
background:#0f0f0f;
text-align:center;
}

.steps{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin-top:25px;
}

.steps div{
background:#1a1a1a;
padding:15px 25px;
border-radius:10px;
}

/* PRICING */
.price p{
font-size:28px;
margin:10px 0;
color:#ff6a00;
}

.highlight{
border:2px solid #ff6a00;
transform:scale(1.05);
}

/* CTA */
.cta{
padding:80px 20px;
text-align:center;
background:#111;
}

footer{
padding:20px;
text-align:center;
background:black;
color:#777;

}





